<a href="https://colab.research.google.com/github/19k41a05g6/AI/blob/main/Assignment5%405G6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

In [ ]:
path = '/content/drive/MyDrive/Load Data.csv'
data = pd.read_csv(path)
data.head()

         Date   Time    Load(kw)
0  01.09.2018  00:00  5551.82208
1         NaN  01:00  4983.17184
2         NaN  02:00  4888.39680
3         NaN  03:00  5072.95872
4         NaN  04:00  5196.25980

In [ ]:
x1 = []
x2 = []
x3 = []
y = []
data = data['Load(kw)']
for i in range(3, data.shape[0]):
    x1.append(data.iloc[i - 3])
    x2.append(data.iloc[i - 2])
    x3.append(data.iloc[i - 1])
    y.append(data.iloc[i])

In [ ]:
data = pd.DataFrame({'l3': x1, 'l2': x2, 'l1':x3, 'L':y})
data.head()

           l3          l2          l1           L
0  5551.82208  4983.17184  4888.39680  5072.95872
1  4983.17184  4888.39680  5072.95872  5196.25980
2  4888.39680  5072.95872  5196.25980  5641.29720
3  5072.95872  5196.25980  5641.29720  7153.17732
4  5196.25980  5641.29720  7153.17732  7849.80504

In [ ]:
x = data[['l3','l2','l1']]
y = data['L'].values.reshape(-1,1)

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.1, random_state=100)

In [ ]:
from sklearn.linear_model import LinearRegression
multiple_reg = LinearRegression()
multiple_reg.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
y_pred = multiple_reg.predict(x_test)

In [ ]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.636685245668322

In [ ]:
print("Enter the values")
l3 = float(input())
l2 = float(input())
l1 = float(input())
output = multiple_reg.predict([[l3, l2, l1]])
print("The load is ", output)

Enter the values
5186
6664
8441
The load is  [[8346.64268431]]